.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  margin: 10px 0;
  width: 100%;
  &__image {
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: center;
    background-repeat: "no-repeat";
    img {
      height: 220px;
      width: 100%;
      object-fit: cover;
      object-position: 100% 20%;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    h4,
    h3 {
      text-align: center;
      color: #fff;
      font-size: 10px;
      font-family: "Bebas Neue", sans-serif;
      margin: 10px 0;
    }
    h3 {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}

@media (min-width: 780px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 20px 0 20px;

    &__image {
      width: 100%;
      height: 250px;
      img {
        height: 220px;
        width: 100%;
        object-fit: cover;
        object-position: 100% 20%;
      }
    }

    &__description {
      h3 {
        font-size: 24px;
      }

      h4 {
        font-size: 16px;
      }
    }
  }
}
