.header {
  width: 100%;
  position: relative;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  height: 780px;

  &__logo {
    display: grid;
    grid-template-columns: 1.3fr 2.7fr;
    height: 310px;
    &-title {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      h1 {
        font-size: 36px;
      }
    }

    &-container {
      &-img {
        position: relative;
        top: 50%;
        right: 0;
        height: 120px;
      }
    }
  }

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 420px;
    margin-top: 10px;
    margin-bottom: 20px;

    &-title {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-left: 20px;

      &-contacts {
        margin-top: 120px;
        text-align: center;
        & h3 {
          margin-top: 20px;
          font-size: 16px;
        }
      }

      &-social {
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        a {
          height: 100px;
          font-size: 40px;
          color: #000;
          margin-left: 15px;
        }
      }
    }

    &-logo {
      height: 410px;
    }
  }

  &__separator {
    position: absolute;
    width: 90%;
    height: 4px;
    background-color: #cac8c9;
    top: 310px;
    left: 10px;
  }
}

@media (max-width: 420px) {
  .header {
    &__logo {
      &-title {
        h1 {
          font-size: 36px;
        }
      }
    }

    &__card {
      &-title {
        &-contacts {
          & h3 {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (min-width: 520px) {
  .header {
    &__logo {
      &-title {
        h1 {
          font-size: 58px;
        }
      }
    }
    &__card {
      &-title {
        &-contacts {
          & h3 {
            font-size: 24px;
          }
        }
        &-social {
          a {
            font-size: 50px;
            margin-left: 30px;
          }
        }
      }
    }
  }
}

@media (min-width: 760px) {
  .header {
    height: 820px;
    &__logo {
      &-title {
        h1 {
          font-size: 84px;
        }
      }
    }
    &__card {
      &-title {
        margin-left: 30px;
        &-contacts {
          & h3 {
            font-size: 48px;
          }
        }
        &-social {
          a {
            font-size: 70px;
            margin-left: 30px;
          }
        }
      }
    }
  }
}

@media (min-width: 920px) {
  .header {
    height: 850px;
    &__logo {
      &-title {
        h1 {
          font-size: 84px;
        }
      }
    }
    &__card {
      &-title {
        margin-top: 30px;
        margin-left: 30px;
        &-contacts {
          & h3 {
            font-size: 56px;
          }
        }
        &-social {
          a {
            font-size: 70px;
            margin-left: 30px;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .header {
    position: relative;
    display: grid;
    grid-template-columns: 1.35fr 1.65fr;
    height: 914px;
    width: 100%;

    &__logo {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 870px;

      &-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 870px;
        &-img {
          position: static;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-end;
          height: 300px;
        }
      }
      &-title {
        margin: 200px 0 50px 20%;
        align-items: center;

        h1 {
          font-size: 87px;
        }
      }
    }

    &__card {
      height: 870px;
      margin: 0;
      &-container {
        height: 100%;
      }
      &-title {
        height: 100%;
        align-items: center;
        margin: 0 auto;
        &-contacts {
          & h3 {
            font-size: 36px;
          }
        }
      }
    }
    &__separator {
      position: absolute;
      width: 4px;
      height: 90%;
      background-color: #cac8c9;
      top: 10px;
      left: 45%;
    }
  }
}
